logs/*
!.gitkeep
node_modules/
tmp
.DS_Store
build/
build/*
bin/
bin/*
.settings/
.settings/*
.idea/
.buildpath
.project
/testdata.txt
HTTP_RAW_POST_DATA_unpubPublishedaction.txt
HTTP_RAW_POST_DATA_unpubaction.txt
vendor/*
/deployment.properties
/deployment.xml
