<?php

return
    [
        'queue' =>
            [
                'zohoCampaigns' =>
                    [
                        'queueUrl' => '@queue.zohoCampaigns.queueUrl@'
                    ]
            ]
    ];